flows.json
[
    {
        "id": "d7ec3041.ef1a7",
        "type": "tab",
        "label": "Video stream - analytics",
        "disabled": false,
        "info": ""
    },
    {
        "id": "efd97995f8a02a42",
        "type": "tab",
        "label": "Video stream - ffmpeg on /dev/video0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3bea6f7023caaec9",
        "type": "tab",
        "label": "Video from Onvif",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "267f0896c2544dd9",
        "type": "tab",
        "label": "Local broker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e00d584b4e2e74af",
        "type": "tab",
        "label": "Systemd",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4074d230f2e616af",
        "type": "tab",
        "label": "NR-thing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f858e2bc48be764",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3ba71e6b430d658",
        "type": "tab",
        "label": "BLE Scanner",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9da1654216b6a11d",
        "type": "tab",
        "label": "Registry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c50040f913fd396",
        "type": "tab",
        "label": "Bridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef8a80e9c499bb4e",
        "type": "subflow",
        "name": "Zip-64",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 160,
                "wires": [
                    {
                        "id": "2b65109daddacd99"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 160,
                "wires": [
                    {
                        "id": "82c8c3f3ba6e95db",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c1aee611e52a8323",
        "type": "subflow",
        "name": "SendConfig",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "17ecd211e1e1c8e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 520,
                "wires": [
                    {
                        "id": "5211b4b825f76acf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 980,
            "y": 200,
            "wires": [
                {
                    "id": "3e81f1593e735a60",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "4778c81a96bb6f95",
        "type": "subflow",
        "name": "SendData",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "764e3089229af422"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 220,
                "wires": [
                    {
                        "id": "2172e85f166a5cf4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 820,
                "y": 260,
                "wires": [
                    {
                        "id": "d8827288e46a3dc3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 840,
            "y": 460,
            "wires": [
                {
                    "id": "742707dd24e2e159",
                    "port": 0
                },
                {
                    "id": "78856c2f21be9618",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ed5a77f4448c2cf5",
        "type": "subflow",
        "name": "Subscribe",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "25d5bb4f66ba88fb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 520,
                "wires": [
                    {
                        "id": "c687df1817d98bdf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 900,
            "y": 580,
            "wires": [
                {
                    "id": "b811eb58c047eedf",
                    "port": 0
                },
                {
                    "id": "9d17d55016b1ae2f",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "5e1c22f8.d65d2c",
        "type": "ui_group",
        "name": "group 2",
        "tab": "b6843d96.72b57",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b6843d96.72b57",
        "type": "ui_tab",
        "name": "Video Recogn",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0664e1e74d71b332",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9b9ea97fbd86e279",
        "type": "mqtt-broker",
        "z": "c1aee611e52a8323",
        "name": "",
        "broker": "l",
        "port": "0000",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6843187ae988fdc8",
        "type": "mqtt-broker",
        "z": "4778c81a96bb6f95",
        "name": "",
        "broker": "l",
        "port": "0000",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5501ee6fc2e6a90a",
        "type": "mqtt-broker",
        "z": "ed5a77f4448c2cf5",
        "name": "",
        "broker": "s",
        "port": "000",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2b65109daddacd99",
        "type": "json",
        "z": "ef8a80e9c499bb4e",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "065c1f970061c074"
            ]
        ]
    },
    {
        "id": "065c1f970061c074",
        "type": "zip",
        "z": "ef8a80e9c499bb4e",
        "name": "",
        "mode": "compress",
        "filename": "",
        "compressionlevel": "9",
        "outasstring": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "82c8c3f3ba6e95db"
            ]
        ]
    },
    {
        "id": "82c8c3f3ba6e95db",
        "type": "base64",
        "z": "ef8a80e9c499bb4e",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 500,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "bde91433c23beff0",
        "type": "mqtt out",
        "z": "c1aee611e52a8323",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b9ea97fbd86e279",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "17ecd211e1e1c8e8",
        "type": "function",
        "z": "c1aee611e52a8323",
        "name": "Connect to local broker",
        "func": "msg.action = \"connect\";\nmsg.broker = { broker: \"\", port: \"\"}\nmsg.broker.broker = global.get(\"LocalBroker.host\") || \"\";\nmsg.broker.port = global.get(\"LocalBroker.port\") || \"\";\nmsg.broker.username = global.get(\"LocalBroker.user\") || \"\";\nmsg.broker.password = global.get(\"LocalBroker.pswd\") || \"\";\nmsg.broker.force  = true;\nmsg.broker.clientid = flow.get(\"$parent.thing.type\") || \"na\";\nmsg.broker.clientid = msg.broker.clientid + ':c:' + + Math.random();\nmsg.broker.clientid = msg.broker.clientid + flow.get(\"$parent.thing.id\") || \"na\";\n\nmsg.qos = 2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "bde91433c23beff0"
            ]
        ]
    },
    {
        "id": "736f9ecd934350f2",
        "type": "status",
        "z": "c1aee611e52a8323",
        "name": "Status of [MQTT out] node",
        "scope": [
            "bde91433c23beff0"
        ],
        "x": 150,
        "y": 200,
        "wires": [
            [
                "45ac33f2a687457d",
                "3e81f1593e735a60"
            ]
        ]
    },
    {
        "id": "45ac33f2a687457d",
        "type": "switch",
        "z": "c1aee611e52a8323",
        "name": "if connected",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "node-red:common.status.disconnected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "5fc47634bd218b98"
            ],
            []
        ]
    },
    {
        "id": "5fc47634bd218b98",
        "type": "function",
        "z": "c1aee611e52a8323",
        "name": "Add /broker-id",
        "func": "var cfgTopic = flow.get(\"$parent.thing.type\") || \"na\";\ncfgTopic = cfgTopic + ':';\ncfgTopic = cfgTopic + flow.get(\"$parent.thing.id\") || \"na\";\ncfgTopic = cfgTopic + '/config';\n\n\nmsg.topic = global.get(\"broker.id\") + \"/\" + cfgTopic;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "ec8731f6d8a6586a"
            ]
        ]
    },
    {
        "id": "ec8731f6d8a6586a",
        "type": "function",
        "z": "c1aee611e52a8323",
        "name": "Set retained for /config",
        "func": "const match = '\\/config$';\nconst topic = msg.topic;\nconst found = topic.match(match);\n\nif (found) {\n    msg.qos = 2;\n    msg.retain = true;\n}\ndelete msg.topic;\nmsg.topic = topic;\nmsg.qos = 2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            [
                "b46b7daaabf2b455"
            ]
        ]
    },
    {
        "id": "b46b7daaabf2b455",
        "type": "function",
        "z": "c1aee611e52a8323",
        "name": "Popoluate /config data",
        "func": "msg.payload = flow.get(\"$parent.thing\") || '';\nmsg.qos = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "bde91433c23beff0",
                "5211b4b825f76acf"
            ]
        ]
    },
    {
        "id": "3e81f1593e735a60",
        "type": "change",
        "z": "c1aee611e52a8323",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "73f8ba48f00b17ca",
        "type": "catch",
        "z": "c1aee611e52a8323",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5211b4b825f76acf",
        "type": "function",
        "z": "c1aee611e52a8323",
        "name": "Passthrough Topic",
        "func": "var nmsg = {  };\nnmsg.topic = msg.topic;\nreturn nmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7900684ebb193bc4",
        "type": "mqtt out",
        "z": "4778c81a96bb6f95",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6843187ae988fdc8",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "035f3a521200f3a0",
        "type": "function",
        "z": "4778c81a96bb6f95",
        "name": "Add /broker-id",
        "func": "var p = flow.get(\"cachedMsg.p\") || undefined;\nvar t = flow.get(\"cachedMsg.t\") || undefined;\n\nif (p) {\n    flow.set(\"cachedMsg.p\", undefined);\n    msg.payload = p;\n}\nif (t) {\n    flow.set(\"cachedMsg.t\", undefined)\n    msg.topic = t;\n}\n\nvar dataTopic = flow.get(\"$parent.thing.type\") || \"na\";\ndataTopic = dataTopic + ':';\ndataTopic = dataTopic + flow.get(\"$parent.thing.id\") || \"na\";\n\nif (!msg.topic) return null;\n\nif (msg.overrideRoot != true) {\nmsg.topic = global.get(\"broker.id\") + \"/\" + dataTopic +  \"/\" + msg.topic;\n}\nmsg.qos = 2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "7900684ebb193bc4"
            ]
        ]
    },
    {
        "id": "742707dd24e2e159",
        "type": "status",
        "z": "4778c81a96bb6f95",
        "name": "Status of [MQTT out] node",
        "scope": [
            "7900684ebb193bc4"
        ],
        "x": 150,
        "y": 240,
        "wires": [
            [
                "6c86a741afdf2dff"
            ]
        ]
    },
    {
        "id": "6c86a741afdf2dff",
        "type": "switch",
        "z": "4778c81a96bb6f95",
        "name": "if connected",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "node-red:common.status.disconnected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "2172e85f166a5cf4"
            ],
            [
                "d8827288e46a3dc3"
            ]
        ]
    },
    {
        "id": "2ae424ce32e1cbfe",
        "type": "catch",
        "z": "4778c81a96bb6f95",
        "name": "",
        "scope": [
            "7900684ebb193bc4"
        ],
        "uncaught": false,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "78856c2f21be9618"
            ]
        ]
    },
    {
        "id": "2172e85f166a5cf4",
        "type": "function",
        "z": "4778c81a96bb6f95",
        "name": "Status",
        "func": "msg.payload = \"Connected\";\nflow.set(\"Status\", \"connected\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "764e3089229af422"
            ]
        ]
    },
    {
        "id": "d8827288e46a3dc3",
        "type": "function",
        "z": "4778c81a96bb6f95",
        "name": "Status",
        "func": "msg.payload = \"Disconnected\";\nflow.set(\"Status\", undefined);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "78856c2f21be9618",
        "type": "function",
        "z": "4778c81a96bb6f95",
        "name": "Status",
        "func": "msg.payload = \"Error\";\nflow.set(\"Status\", undefined);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d56a36dac6057458",
        "type": "function",
        "z": "4778c81a96bb6f95",
        "name": "Connect to local broker",
        "func": "flow.set(\"cachedMsg.p\", msg.payload);\nflow.set(\"cachedMsg.t\", msg.topic);\nmsg.topic = undefined;\nmsg.payload = undefined;\n\nmsg.action = \"connect\";\nmsg.broker = {};\nmsg.broker.broker = global.get(\"LocalBroker.host\") || \"\";\nmsg.broker.port = global.get(\"LocalBroker.port\") || \"\";\nmsg.broker.username = global.get(\"LocalBroker.user\") || \"\";\nmsg.broker.password = global.get(\"LocalBroker.pswd\") || \"\";\nmsg.broker.force  = true;\nmsg.broker.clientid = flow.get(\"$parent.thing.type\") || \"na\";\nmsg.broker.clientid = msg.broker.clientid + ':d:' + + Math.random();\nmsg.broker.clientid = msg.broker.clientid + flow.get(\"$parent.thing.id\") || \"na\";\n\nmsg.qos = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"Status\", undefined);",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "7900684ebb193bc4"
            ]
        ]
    },
    {
        "id": "764e3089229af422",
        "type": "switch",
        "z": "4778c81a96bb6f95",
        "name": "if connected",
        "property": "Status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "035f3a521200f3a0"
            ],
            [
                "d56a36dac6057458"
            ]
        ]
    },
    {
        "id": "936bf789df64dea8",
        "type": "function",
        "z": "ed5a77f4448c2cf5",
        "name": "Try to subscribe",
        "func": "var p = flow.get(\"cachedMsg.p\") || undefined;\nvar t = flow.get(\"cachedMsg.t\") || undefined;\n\nif (p) {\n    flow.set(\"cachedMsg.p\", undefined);\n    msg.payload = p;\n}\nif (t) {\n    flow.set(\"cachedMsg.t\", undefined);\n    msg.topic = t;\n}\nif (!msg.topic) return;\n\nmsg.action = \"subscribe\";\nmsg.qos = 2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 60,
        "wires": [
            [
                "c687df1817d98bdf"
            ]
        ]
    },
    {
        "id": "9d17d55016b1ae2f",
        "type": "status",
        "z": "ed5a77f4448c2cf5",
        "name": "Status of [MQTT out] node",
        "scope": [
            "c687df1817d98bdf"
        ],
        "x": 150,
        "y": 220,
        "wires": [
            [
                "b0a6037de58fc9cf"
            ]
        ]
    },
    {
        "id": "b0a6037de58fc9cf",
        "type": "switch",
        "z": "ed5a77f4448c2cf5",
        "name": "if connected",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "node-red:common.status.disconnected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "d5ad0764156fc36b"
            ],
            [
                "e4dc55479c4b0aee"
            ]
        ]
    },
    {
        "id": "734199a4fb6a4361",
        "type": "catch",
        "z": "ed5a77f4448c2cf5",
        "name": "",
        "scope": [
            "c687df1817d98bdf"
        ],
        "uncaught": false,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "b811eb58c047eedf"
            ]
        ]
    },
    {
        "id": "d5ad0764156fc36b",
        "type": "function",
        "z": "ed5a77f4448c2cf5",
        "name": "Status",
        "func": "msg.payload = \"Connected\";\nflow.set(\"Status\", \"connected\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "25d5bb4f66ba88fb"
            ]
        ]
    },
    {
        "id": "e4dc55479c4b0aee",
        "type": "function",
        "z": "ed5a77f4448c2cf5",
        "name": "Status",
        "func": "msg.payload = \"Disconnected\";\nflow.set(\"Status\", undefined);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b811eb58c047eedf",
        "type": "function",
        "z": "ed5a77f4448c2cf5",
        "name": "Status",
        "func": "msg.payload = \"Error\";\nflow.set(\"Status\", undefined);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ef6ee6405f4319fe",
        "type": "function",
        "z": "ed5a77f4448c2cf5",
        "name": "Connect to local broker",
        "func": "flow.set(\"cachedMsg.p\", msg.payload);\nflow.set(\"cachedMsg.t\", msg.topic);\nmsg.topic = undefined;\nmsg.payload = undefined;\n\nmsg.action = \"connect\";\nmsg.broker = {};\nmsg.broker.broker = global.get(\"LocalBroker.host\") || \"\";\nmsg.broker.port = global.get(\"LocalBroker.port\") || \"\";\nmsg.broker.username = global.get(\"LocalBroker.user\") || \"\";\nmsg.broker.password = global.get(\"LocalBroker.pswd\") || \"\";\nmsg.broker.force  = true;\nmsg.broker.clientid = flow.get(\"$parent.thing.type\") || \"na\";\nmsg.broker.clientid = msg.broker.clientid + ':d:' + + Math.random();\nmsg.broker.clientid = msg.broker.clientid + flow.get(\"$parent.thing.id\") || \"na\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"Status\", undefined);",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "c687df1817d98bdf"
            ]
        ]
    },
    {
        "id": "25d5bb4f66ba88fb",
        "type": "switch",
        "z": "ed5a77f4448c2cf5",
        "name": "if connected",
        "property": "Status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "null"
            },
            {
                "t": "neq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "936bf789df64dea8"
            ],
            [
                "ef6ee6405f4319fe"
            ],
            [
                "ef6ee6405f4319fe"
            ]
        ]
    },
    {
        "id": "c687df1817d98bdf",
        "type": "mqtt in",
        "z": "ed5a77f4448c2cf5",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5501ee6fc2e6a90a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 750,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c41f3ce662f9f4bb",
        "type": "debug",
        "z": "d7ec3041.ef1a7",
        "name": "Recognized Objects",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "classes",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "88f6a4efc8ea9bbb",
        "type": "tensorflowCoco",
        "z": "d7ec3041.ef1a7",
        "name": "",
        "modelUrl": "http://127.0.0.1:1880/coco/model.json",
        "scoreThreshold": 0.5,
        "passthru": "bbox",
        "lineColour": "magenta",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "fbb4690cad4548e3",
                "815ff9a0c37df769",
                "9df99b28bee8d82e"
            ]
        ]
    },
    {
        "id": "815ff9a0c37df769",
        "type": "image",
        "z": "d7ec3041.ef1a7",
        "name": "",
        "width": "400",
        "data": "image",
        "dataType": "msg",
        "thumbnail": false,
        "active": false,
        "pass": false,
        "outputs": 0,
        "x": 640,
        "y": 20,
        "wires": []
    },
    {
        "id": "9df99b28bee8d82e",
        "type": "jimp-image",
        "z": "d7ec3041.ef1a7",
        "name": "",
        "data": "http://127.0.0.1:1880/pipe2jpeg/flow02/image.jpeg",
        "dataType": "str",
        "ret": "buf",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 230,
        "y": 100,
        "wires": [
            [
                "88f6a4efc8ea9bbb",
                "f96cb4ed58471387",
                "671877d63b6bc7e4"
            ]
        ]
    },
    {
        "id": "9d1d5ede42d0a8f4",
        "type": "status",
        "z": "d7ec3041.ef1a7",
        "name": "",
        "scope": [
            "88f6a4efc8ea9bbb"
        ],
        "x": 80,
        "y": 280,
        "wires": [
            [
                "9df99b28bee8d82e"
            ]
        ]
    },
    {
        "id": "4b87ca93a622df07",
        "type": "inject",
        "z": "d7ec3041.ef1a7",
        "name": "Start [Manual]",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "9df99b28bee8d82e"
            ]
        ]
    },
    {
        "id": "c5ba02f2fa3237c2",
        "type": "link out",
        "z": "d7ec3041.ef1a7",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "b180c51d784367aa"
        ],
        "x": 885,
        "y": 340,
        "wires": []
    },
    {
        "id": "fbb4690cad4548e3",
        "type": "function",
        "z": "d7ec3041.ef1a7",
        "name": "Set MQTT topic",
        "func": "var l_payload = msg.classes;\ndelete msg.payload;\nmsg.payload = msg.classes;\nmsg.topic = \"edge/00001/image/recognition/objects\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "c41f3ce662f9f4bb",
                "9f783883155c7d07"
            ]
        ]
    },
    {
        "id": "f96cb4ed58471387",
        "type": "mobilenet",
        "z": "d7ec3041.ef1a7",
        "d": true,
        "name": "",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "9df99b28bee8d82e"
            ]
        ]
    },
    {
        "id": "671877d63b6bc7e4",
        "type": "cocossd",
        "z": "d7ec3041.ef1a7",
        "d": true,
        "name": "",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "1f758bca6b793e11"
            ]
        ]
    },
    {
        "id": "1f758bca6b793e11",
        "type": "image",
        "z": "d7ec3041.ef1a7",
        "name": "",
        "width": "400",
        "data": "annotatedInput",
        "dataType": "msg",
        "thumbnail": true,
        "active": false,
        "pass": false,
        "outputs": 0,
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "9f783883155c7d07",
        "type": "rbe",
        "z": "d7ec3041.ef1a7",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "c5ba02f2fa3237c2"
            ]
        ]
    },
    {
        "id": "055a7ba886404441",
        "type": "debug",
        "z": "efd97995f8a02a42",
        "name": "playlist",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "status",
        "statusType": "msg",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "b8166871d2e90f18",
        "type": "pipe2jpeg",
        "z": "efd97995f8a02a42",
        "name": "",
        "basePath": "flow02",
        "serveHttp": "true",
        "bufferType": "array",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "055a7ba886404441"
            ],
            []
        ]
    },
    {
        "id": "8896a3f1d2a677fd",
        "type": "ffmpeg",
        "z": "efd97995f8a02a42",
        "name": "",
        "outputs": 5,
        "cmdPath": "ffmpeg",
        "cmdArgs": "[\"-loglevel\",\"+level+error\",\"-hide_banner\",\"-nostats\",\"-s\",\"320x200\",\"-re\",\"-f\",\"video4linux2\",\"-hwaccel\",\"rpi\",\"-re\",\"-i\",\"/dev/video0\",\"-f\",\"image2pipe\",\"-b:v\",\"128M\",\"pipe:1\",\"-progress\",\"pipe:3\",\"-s\",\"320x200\",\"-f\",\"mp4\",\"-b:v\",\"128M\",\"-movflags\",\"+frag_keyframe+empty_moov+default_base_moof\",\"pipe:4\"]",
        "cmdOutputs": 4,
        "killSignal": "SIGTERM",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "b8166871d2e90f18",
                "44b1b897f58b75f7",
                "a78f06978ef3f20b"
            ],
            [
                "b8166871d2e90f18"
            ],
            [
                "9abd766b2a9d4ba9"
            ],
            [
                "ca48a481054a8787"
            ],
            [
                "a78f06978ef3f20b"
            ]
        ]
    },
    {
        "id": "c8c671e45a54c0eb",
        "type": "inject",
        "z": "efd97995f8a02a42",
        "name": "start",
        "props": [
            {
                "p": "action",
                "v": "{\"command\":\"start\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "8896a3f1d2a677fd"
            ]
        ]
    },
    {
        "id": "5e34010713868508",
        "type": "inject",
        "z": "efd97995f8a02a42",
        "name": "stop",
        "props": [
            {
                "p": "action",
                "v": "{\"command\":\"stop\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "8896a3f1d2a677fd"
            ]
        ]
    },
    {
        "id": "90a2f579ed47f783",
        "type": "delay",
        "z": "efd97995f8a02a42",
        "name": "delay",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "8896a3f1d2a677fd"
            ]
        ]
    },
    {
        "id": "44b1b897f58b75f7",
        "type": "function",
        "z": "efd97995f8a02a42",
        "name": "restart",
        "func": "const { status, code, signal, killed } = msg.payload;\n\n\nif (status === 'close' && killed === false) {\n    return { action: { command: 'start' }, delay: 5000 };\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "90a2f579ed47f783"
            ]
        ]
    },
    {
        "id": "001afdd2a1c4672b",
        "type": "comment",
        "z": "efd97995f8a02a42",
        "name": "- - - - - daemonize - - - - -",
        "info": "",
        "x": 330,
        "y": 165,
        "wires": []
    },
    {
        "id": "ca48a481054a8787",
        "type": "function",
        "z": "efd97995f8a02a42",
        "name": "progress",
        "func": "const props = msg.payload.toString().split('\\n');\n\nconst progress = {};\n\nprops.forEach(item => {\n    \n    const [name, value] = item.split('=');\n    \n    if (name && value) {\n    \n        progress[name] = value;\n\n    }\n    \n});\n\nconst color = progress['progress'] === 'continue' ? 'green' : 'red';\n\nconst message = `fps: ${progress['fps']}, bitrate: ${progress['bitrate']}`;\n\nnode.status({ fill: color, shape: 'dot', text: message });\n\nreturn { payload: progress };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 580,
        "wires": [
            [
                "6dfce461afdf457d"
            ]
        ]
    },
    {
        "id": "6dfce461afdf457d",
        "type": "debug",
        "z": "efd97995f8a02a42",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "f52a02df124f3dc6",
        "type": "comment",
        "z": "efd97995f8a02a42",
        "name": "- - - - - progress logs - - - - -",
        "info": "",
        "x": 739,
        "y": 545,
        "wires": []
    },
    {
        "id": "732965e797096e92",
        "type": "debug",
        "z": "efd97995f8a02a42",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "9abd766b2a9d4ba9",
        "type": "function",
        "z": "efd97995f8a02a42",
        "name": "errors",
        "func": "const { payload } = msg;\n\nreturn { payload: payload.toString() };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 480,
        "wires": [
            [
                "732965e797096e92"
            ]
        ]
    },
    {
        "id": "8eb81085b8fbbb55",
        "type": "comment",
        "z": "efd97995f8a02a42",
        "name": "- - - - - error logs - - - - -",
        "info": "",
        "x": 728,
        "y": 445,
        "wires": []
    },
    {
        "id": "a78f06978ef3f20b",
        "type": "mp4frag",
        "z": "efd97995f8a02a42",
        "name": "",
        "outputs": 2,
        "basePath": "abcfr",
        "serveHttp": "true",
        "serveIo": "true",
        "hlsPlaylistSize": "10",
        "hlsPlaylistExtra": "10",
        "autoStart": "true",
        "preBuffer": "5",
        "timeLimit": "-1",
        "repeated": "false",
        "statusData": "playlist",
        "x": 600,
        "y": 280,
        "wires": [
            [
                "055a7ba886404441",
                "c84ce4ca5e7f8d0f"
            ],
            [
                "1772c49f6618b474",
                "5c987343a5458a93"
            ]
        ]
    },
    {
        "id": "c84ce4ca5e7f8d0f",
        "type": "ui_mp4frag",
        "z": "efd97995f8a02a42",
        "name": "",
        "group": "5e1c22f8.d65d2c",
        "order": 1,
        "width": 6,
        "height": 4,
        "readyPoster": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAyAAAAJYCAMAAACtqHJCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMzgwMTE3NDA3MjA2ODExODIyQUIzREQ3RTA0MDAyNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGRkU5MkM4RDJCNTkxMUVCQjJCOTg0MEQ0QThCQ0YyQyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGRkU5MkM4QzJCNTkxMUVCQjJCOTg0MEQ0QThCQ0YyQyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjc3RjExNzQwNzIwNjgxMTgyMkFDQTkzQjdGQkY1MzAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDM4MDExNzQwNzIwNjgxMTgyMkFCM0REN0UwNDAwMjQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7USCkmAAAAM1BMVEUAplH///9Cs3HR6dqc0rDp9O1rwIy43sUmrWJ9xpn0+vbF5NBYun+q2LuNzKTd7+P///8HAxLBAAAAEXRSTlP/////////////////////ACWtmWIAAA6fSURBVHja7d1rY6JIGoBRI6gIXub//9qZ7o4KRdVbZezuJLvnfNpJektujyAg2fwDFG0sAhAICAQEAgIBgYBAQCAgEBAIIBAQCAgEBAICAYGAQEAgIBAQCCAQEAgIBAQCAgGBgEBAICAQQCAgEBAICAQEAgIBgYBAQCAgEEAgIBAQCAgEBAICAYGAQEAggEBAICAQEAgIBAQCAgGBgEBAIIBAQCAgEBAICAQEAgIBgYBAAIGAQEAgIBAQCAgEBAICAYGAQACBgEBAICAQEAgIBAQCAgGBgEAsAhAICAQEAgIBgYBAQCAgEBAIIBAQCAgEBAICAYGAQEAgIBAQCCAQEAgIBAQCAgGBgEBAICAQQCAgEBAICAQEAgIBgYBAQCAgEEAgIBAQCAgEBAICAYGAQEAggEBAICAQEAgIBAQCAgGBgEBAIIBAQCAgEBAICAQEAgIBgYBAAIGAQEAgIBAQCAgEBAICAYGAQACBgEBAICAQEAgIBAQCAgGBgEAsAhAICAQEAgIBgYBAQCAgEBAIIBAQCAgEBAICAYGAQEAgIBAQCCAQEAgIBAQCAgGBgEBAICAQQCAgEBAICAQEAgIBgYBAQCAgEEAgIBAQCAgEBAICAYGAQEAggEBAICAQEAgIBAQCAgGBgEBAIIBAQCAgEBAICAQEAgIBgYBAAIGAQEAgIBAQCAgEBAICAYGAQIAkEAAAAAAAAAAAAAAAAAAAAAAAgD/v0u/efjj0228/L33/c1be+t56/d92+rWi33aZnw2b7fv/6n7+/PZfN12/n/2/0t++b0H3PMbZT6dsIskI1/64+lUXzsQP558/OdxeaL5Rv/9su57WTLPrMdcjJb9cT+TwPtO7IZrR5ctXlmNxwsprp7IwCN2229mPjr9+Mm4qgfxY88e2FTt0yc+P9UB+TMKlKZDLvL35LPyYh7vpMURmWrt9bcz7ZF6TkLfFibwNcqnN6Nt13xpIacLKa6eyMAjd1vZp9e7SNQTy37tfy4odrqtfXFoC+e+Vh4ZAzvONYtn9Y7aG2RRt422wMOb7OLvVdrgtBbLL/P9rL18LpDRhwdqJFwahaf2Wfrgv3IZA7oVEK/aQ+c22KZDkpbtwHma7wmm1BRxnW0l+Wi+VMTO/WEzVaiILO5C4gVogpQkL1k68MIg/bq7fS673n7QEcksrWLH78pbfuN3EgSze00+LbXNK33mv5Vcat/GYm+K87POBFHYg8cvXAilNWLB24oVB6Lj+vDfeF21TILvq5j1lf3Vq3G6GWiBDptf7z4Yk+3MwJ3085k9d+26utAMpvfy5JZDihAVrJ14YNJ3G6lbbxrYxkPe1VF6xw/xD43AonRuKNtswkFNuU7omm9Awf7MvvNJYGTOdl+1hcbyYTmRpBxK/fCWQ0oSFaydcGISG1ee9/eP4Nh/Ir386nJefQsrb8HG+L3gc1F1L282v8ftx9u/CQI6LDWJaHjqeV6fmVsNdduudWnbM9byc5zuJZCKLO5D45eOjyeKEhWsnXBjEdunu91LaLrdJS/3iv8sr9pyc8h3TV8yu4sfR/lDZavrlCdPlO+11ORFTblq364/p2TEz8/KWOXDrFgdju00lkOTlK4GUJixcO+HCINal756zpRcHsjy0La/Y9ETZtfAhJB1/9u/CreZ2Tn95ZicJ/zpPIB1uKp0r6tKzRYV5mdaj7uvns7MvXwmkNGHx2okWBrFz+nlvKh36p6vgvgVv4xWbJjgVjoDT8Q+PfxduNb8mY0wuDi/n67TYQtLh1qfy8mMW5+W6HrW8A4lfvhJIacLitRMtDJ48zzt7e6kE0uU++JYD2a43/KZALpWt5n0bPS5LX56e6xfHGKXzTX1lzOK87FajBjuQ4ssfGgIpTVi8dqKFQWyfXhLPXFD70oG8vx9Op2QrH+ejTdmLccVASmO2BxLsQF4JpDhhlbUTLAxi2+QD3Ha2//0WgRxvqzspfZofDY2LI6NqIKUxmwOJdiCvBFKcsMraCRYGFePynN9+9p/fIpD+9q92y9LnW/1pOXI1kNKYzYFEO5BXAilOWGXtBAuDiuvyI1s/Wz/fIpDD7f1wWpY+zK4V9MvrANVr3qUxWwPZRjuQuM84kOKEVdZOsDCoSLbXc/HM/hcN5Hrr+5y8zvWxDU3Lj7Sl00j76piNgRzCN+kXAilOWGXtBAuDxtNYl9VZ3u8RyHhb831yZqd/HHePy7fbdLhucXk8GrMLvmj0GHUb303+QiDFCasFUl4YVByXa3M3W/DfIZDt/Tf7ZLN8nOk5JleOk+GOb/nfZ8ZsC+SQBtd2HWRfDaQ8YbVAyguDitNy8yhf/PuagRzvH3CH9C7I3W3GzskngsVw2/NbOkHlMZsCqexA4h1Yy21nuZmtBFJeGNQszvOeyjf1fVYg8ZX0/rExjsk/Ot82vGty5Xgb3G4ej9kUSGUHUtqB1W76jGe2FkhxYVCzmzdxnNfykUDWXzb8aCBt92IdVnd1j+nB46V0SjT/5eFozJZAdrXvsxZ2YKdNvBzjma0FUlwY1Ezzld6X73r9y4E03s3bPbauQ3qP0bjYYvsokPHSNGZLIG+177OGO7AwkGBma4EUFwY15/mSPMyX32cG0vp9kPFxW+vqbO1U2GBzW+h5aBnzmUDOTwUSfLf/0DKz1UCmtnpZWZxl7HLfEvy7gTz1jcJhNk3HwgXx1UWJ7CuNp4YxnwlkfCaQy6YhkGhmq4GUFgY1+/k73pg7Hv7MQCrfSd/PDglP6Vv3UHhDrzy0IRjzmUCKJ4rCI7wokGhmq4EMTXs3NqU34Z/LfQi+N/E5gVSuns3vmxhWX0S9PvWAg64+5lOBdM8cYnUNgUQzWw2ktDCoGldfztxtvkogtedinecHGqvHJPTJnih7nvXYvWXPiObGfCqQ0oM9831O9UCima0HUlgYVF0f39+8ZFfW370Osuij9mTFbj5Wl57GOmWfb1D8zuuhOuZzgZyfCaT0dK3Gma0HUlgYVB0eZzb67CnHzwqk4dm843zs8+oUzZh7Qs5quO3yY3Uw5nOBjA3XQfbTcqut33aWn9l6IIWFQdXsxrdD8M27vxzIruXp7sNiS+xXn44fT7IdgkCWt/xHY7YFMh6eud29fyvfvdA+sw2B5BcGVbMzhtfFQv3cW02iLTo5bLguZ+S8mrXllePVcIvnSERjtgXSn8KP6enLj43PxQpntiGQ/MKg6vQ4BB+zx7VfN5D8Z6bHIfb9IVx9ONxhfnInGrPl+yA/PgJfo4/p6cufG5+LFc5sQyD5hUHdfZ0sd+LfIJDzco2vR+hyL1YM5FIbsymQS/aZ4OWXb33sTzizDYHkFwbNp7F2tytR128TSP652G8vBRKN2RLI/HnRY0sgrd9JD2dWIH/QbckPl/x9QV83kF1+mzm9Ekg0ZvNjfw7BFbn05feNgYQzK5A/6H7G8Jy/v+fLBjLkN5nZZvl8IOGYTz84rvt9gcQzK5A/6LaPP4YPN/iCgZzeyjc4fjSQcMzmQO5v99vfFkg8swL5C6ex+uvyCOXLB3IsbDPTC4GEY7YHEnxM/2Ag8cwK5A+67bwPyWfcz314dUMgfWGbuT4ZyPyh7eGYhXnZNSytlwOJZzZeOwJ5ze3pisky/tw/f9AQSOG8zuw0Vlsg80t14Zhp3N38y7PLUbvix/QPBhLPbLx2BPKaLn+A8ql/QKclkNUfulhd6W4K5DjfmMIxk3m5lZXbtC/FGwM/GEg8s/HaEchrDvmbUD/zT7A1BbLaF63OrrYE0i8OVsIxb/OyG9YfNEp3kGx/UyDxzMZrRyCv6eOvf/7dP+IZBLK8mzHzl2BWH43DQHJTG4+5nJflA0lKd5D0HwpkNWWVmd1Wz3gL5OOOmS8mbD7rz0C3B7L+Y5TH9H3zmUB+7uIqY3blRZBu96fS/HwskMqExWtHIK9ZLt3hqUCO1UD20VdMXwmkXw2V/rnKpwLpZ2/LpTH39SsRq5voj78lkMqEbes7EIF8XP5rPi2BnDfVQJKPOKULaM8HclgfrKXz8EQg03xai2NO1X1olx4CTY2BdOFyrExY7WmRAnnJNfve3hDIYdMQyHB9a3jix/OBXNcH+ekF7PZApsWSKI457EoHi6tASufrSsdi13A5Vias9rRIgbxkyi7VaiC746YlkM3QRXv+DwcyrgdLL7q0BnKfk+qY26T2cV881XbIf0xP/+HikkVxOVYmLF47AvmNp7H6xkC6fl89bHk8w22cv1mH3yNqDuSUOVpLTx01BTKbk5Yxz4s36aF8Lnq/PClc/IfTbLdaWo61CYvXjkC+vkv/64jg0G+///vJ7eEWvpsHAAAAAAAAAAAAAAAAAAAAAAAAwP+Xf4AigYBAQCAgEBAICAQEAgIBgYBAAIGAQEAgIBAQCAgEBAICAYGAQACBgEBAICAQEAgIBAQCAgGBAAIBgYBAQCAgEBAICAQEAgIBgQACAYGAQEAgIBAQCAgEBAICAQQCAgGBgEBAICAQEAgIBAQCAgEEAgIBgYBAQCAgEBAICAQEAggEBAICAYGAQEAgIBAQCAgEBAIIBAQCAgGBgEBAICAQEAgIBBAICAQEAgIBgYBAQCAgEBAICAQQCAgEBAICAYGAQEAgIBAQCAgEEAgIBAQCAgGBgEBAICAQEAggEBAICAQEAgIBgYBAQCAgEBAIIBAQCAgEBAICAYGAQEAgIBBAICAQEAgIBAQCAgGBgEBAICAQQCAgEBAICAQEAgIBgYBAQCCAQEAgIBAQCAgEBAICAYGAQEAggEBAICAQEAgIBAQCAgGBgEAAgYBAQCAgEBAICAQEAgIBgYBAAIGAQEAgIBAQCAgEBAICAYGAQACBgEBAICAQEAgIBAQCAgGBAAIBgYBAQCAgEBAICAQEAgIBgQACAYGAQEAgIBAQCAgEBAICAQQCAgGBgEBAICAQEAgIBAQCAgEEAgIBgYBAQCAgEBAICAQEAggEBAICAYGAQEAgIBAQCAgEBAIk/gX38R0SGa0LJgAAAABJRU5ErkJggg==",
        "errorPoster": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAyAAAAJYCAMAAACtqHJCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMzgwMTE3NDA3MjA2ODExODIyQUIzREQ3RTA0MDAyNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGRkU5MkM5MTJCNTkxMUVCQjJCOTg0MEQ0QThCQ0YyQyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGRkU5MkM5MDJCNTkxMUVCQjJCOTg0MEQ0QThCQ0YyQyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjc3RjExNzQwNzIwNjgxMTgyMkFDQTkzQjdGQkY1MzAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDM4MDExNzQwNzIwNjgxMTgyMkFCM0REN0UwNDAwMjQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz72S0NpAAAAM1BMVEXtHCT////vT1T609T1oaP4u7zydHf96ur0k5XuOT7+9fX5x8jzhIfxY2b3rrD739////825EprAAAAEXRSTlP/////////////////////ACWtmWIAAA5DSURBVHja7d3rYqJIAoBRI3gBUeb9n3anu2Okirphujtm9pxfu82kIlifIKDZ/QNk7WwCEAgIBAQCAgGBgEBAICAQEAggEBAICAQEAgIBgYBAQCAgEBAIIBAQCAgEBAICAYGAQEAgIBBAICAQEAgIBAQCAgGBgEBAICAQQCAgEBAICAQEAgIBgYBAQCCAQEAgIBAQCAgEBAICAYGAQEAggEBAICAQEAgIBAQCAgGBgEAAgYBAQCAgEBAICAQEAgIBgYBAAIGAQEAgIBAQCAgEBAICAYGAQGwCEAgIBAQCAgGBgEBAICAQEAggEBAICAQEAgIBgYBAQCAgEBAIIBAQCAgEBAICAYGAQEAgIBBAICAQEAgIBAQCAgGBgEBAICAQQCAgEBAICAQEAgIBgYBAQCCAQEAgIBAQCAgEBAICAYGAQEAggEBAICAQEAgIBAQCAgGBgEAAgYBAQCAgEBAICAQEAgIBgYBAAIGAQEAgIBAQCAgEBAICAYGAQGwCEAgIBAQCAgGBgEBAICAQEAggEBAICAQEAgIBgYBAQCAgEBAIIBAQCAgEBAICAYGAQEAgIBBAICAQEAgIBAQCAgGBgEBAICAQQCAgEBAICAQEAgIBgYBAQCCAQEAgIBAQCAgEBAICAYGAQEAggEBAICAQEAgIBAQCAgGBgEAAgYBAQCAgEBAICAQEAgIBgYBAgCgQAAAAAAAAAAAAAAAAAAAAAACAP+/cn95+OPT7b78uff9zVd763kb+T7v+ep7fTol/G3a7/fv/7H4uuP+/u64/Pn4qXvg+gR7P3Lj450vy2YuGmPtptagrrsUPt5//crj/ouWkfv+3/frBJqbTesz1SNHC9YMc3lf6NJRWdLGtig+s/qhzG7lhfUm7b9HFP02//mXc1QL58cxPbYEMXbRgqgfy4zGcmwI5L6fFch1+rsTd5TFE4sF2x9qYHw9zjkLeZx/kfZDz7slAfgx/LPzYvHzU+Y1c+0my7k/2dfX62LUE8u+LUUsgw7xacm4J5N/fPDQEclsmG4b/WK+hPA+Xe7vMmO/jnFavEvtcIKfEz28N5PHAKo+6sJEb1pe0y/oV/fCY+Q2B3AspBnJILNo3BRL96q64Eot94WU1C6ZFMukHe66MmVgQPKrVg8zsQLYGcl+JylFsYSPXjn/Jv9tcb6x5/XyVAnlvq/QcHPMzv23eVAIJXtOvwdy8xLuEOf+bxn15zPy6HNOBZHYgmwN5f2DlR13ayA3rS9q0fh86PuZ9UyCnaiCX5LJr27wZh1ogQ6LXj38bou5vhTXpy2P+1LXv5nI7kM2BvD87xYXFjVz+SRpOY3WrqbFvDeTX9CkEMizf0g+H7NNTmLbFQK6pWT5Hc3tYvthnftNYGTNel/0hOJSJH2RuB7I9kHFXfdTFjVxfXzKG1fvQ4+K4Ox3Ir/92uAXvQgpTeFruCx5HdXNu3vwavx8X/10xkCl41i/hseNtfW4uHu58Wu/UkmOu1+W23ElEDzK7AymsTfGBFRcWN3J9fck5xYci58SxeiqQx5NwqgRyi05pjfGvTAbyOKgeKoH04fnLcBcwhw/ikpqh+/Xb9OSYiXV5Sxy4dcHB2Gn3dCDRAysuLG7k+vqS08UvJsuZVA4kOM4vTOH4TNmcef2Kx1/8d8VA7hc4wlNOUfnzckrEw63PeaXHzK5LYmsd6+ezq4GED6y4sLiR6+tLzi1+H3rJPiXxBP54EvblQOIGL8G5n3wgh8d/Vwzk18MY+/DUZrhi1yCXeLj1ubz0mNl1Sexv8zuQDYH0pUCChcWNXF9fms/zztmd+iqQbvEkNASyX0/8pkDOlUDe5+gUph6en+uDY6Xc+aa+MmZ2XdZHmYUdyIZAzqW3ecHC4kYu/iRFx3hb5XfNLxrI+87hco1m+bgc7ZK85JYNJDdmeyCFHYhAvpN99D50n39z96KBTPc5HD3rl2XqY3AAUg0kN2ZzIKUdiEC+lTE8J37Mnw590UD6+391ClNfzvprOHI1kNyYzYGUdiAC+Vbm8GxPn782/KKBHO47h0uY+rC4iNGHF0Wq17xzY7YGsi+eR90eSF9d+FQg3qQ3iKbrLXUF9qUDme+B36LfMz8m9yV8r507q3OsjtkYyKG0AxHItzyNdV6f5f0egYz3DProlFP/eBMyhvuBeLguuApdGrPL3ou8HHVfnoAC+U6mcGOdUrfovnIg+48lx+hpf5yCmqI7RqLhprf08sSYbYEc4uA+ex3kWF24KZA+8wyQP0t6nx3Bdv4OgUwf7zeH+C7I033NbtE7gmC4/e0tfkD5MZsCqexANgQS7NqKCzcF0pUDJnGd7f1EzTV4U/oagZSvpPePyThG/9HtPg/m6OavfeXu7/yYTYFUdiDtgUzB2abiwi2BTE5ibXFaNjEVrjg3BZL4NO6zgbTdi3V4HBPO0Smn+0Q4x7ccFj88XByzJZBT7Qh/X/1cZrRru9YXtgcS/yQVl+Wm7YPjrS8NpPFu3u7xZB/i24THYMb2pRk6npvGbAmkOv/qgSR3bcWFTYH4vNQzbstNeSjckvF3A2n9PMj4uN929d7zkpmwqQlzG1rG3BLI7TcFcmjZ720PxAFWo9TZwukrA9n0icJh8ZimzAXx1UWJ5G8arw1jbglk/D2BnEuP+rx7NhCfBWl1XL7gle5Z+ppAKp9JPy6OCa/xS/eQeUGvfIlBYcwtgWTn4KZAxnPTgeHWQEaBtFrekjGER9yvEEjlW02WN5EMq0/IzulvXsjsq7r6mJsC6X7PIVa3a1i4/RCrM/UbLe4LL97U9yWB1L4X67Y8Alp9TUIf7YmS6zV1b8nbbVJjbgrkbf973qRfGhY+8Sb9Yuq3mR+fKz2Hm+5rroMEfdS+WbFbjtXFp7Gu6emQ+wjqoTrmtkBuz14HiRzrC58IxIX0RofHWZ7iXa9/P5CG7+Ydl2PfVuerxsRX96yH24dvqwtjbgtk/NSFwuMljLu4sP06SPyT1CxuyAvP8n5tIKeWb3cfgpnYr94dP75idyjN0OCe/9KYbYGMh99zu3v/lv90TrRwy5X0vnaajcDiTOYcTt2vvdWkZUpdg4vk6++JnNbf3JMaLviKg9KYbYH01+Ib4fZ7scbSd5MECzfdizW6lL7F9XEEPoavtq8fyDn5NvZx7PDx/VB9cbjD8kxXacyWz4P8OB8wl96mtwdS+mK6cOGmQG6uhWzysfmGt9LnJl4xkFs4/dcjdKlflg3kXBuzKZBz5Yt1/uTX/my63d3nQTadxjrdr5DN3yeQ9Fc2v30qkNKYLYGcFpdPxs8F4jPpL+E+I4ZztN1eP5BTejJfPxNIaczmr/05rC9PPhHIsRTI8elAjgLZ5ONMZnRw8fqBDOm5vJiW2wMpjrn5i+M6gXx/9z3uFH23wesHcn3L3+D4bCDFMZsD+dgP7QXynzmN1c/RAcrLBzJlJvPlE4EUx2wPpPBGWCDfzP2g4hC/xf3aL69umFJ9ZjLPGwNZfjd6cczMupwattbfCaTpy6sFstH92xXjp/Rr//xBw5TKnHBaNN4WyPLKWXHMOO5u+VnWcNQu+zb9TwSy6c8fCGSjLnN88qV/QKdlSs3xBa/Vle6mQKZl6sUxo3W5l5WawOfsHU9/IpAtf0BHIFsdMvegfuWfYGuaUqt90ersaksgfXAUVRzzvi6nYf1GI3dDx/5vBLLhT7AJZLM+80G4r/kjnoVAwrsZoz+Lk3xrXAwk9XDLY4brEn4/SO6Gjr5pbZIfLW4PpOmPeArkSVPmYwJf82eg2wOZVperV1/5tCWQn6++lTG7+iboopODp78RSNOfgRbIk8JnbNgWyFQN5Nj2ic/tgfSroeK/3bkpkH6xv8iNecyvZvYm+ulvBFLayAL5rMynfFoCue2qgUTvcXIX0LYHclgfrMUrsSGQy/KxZse85HYg60D6zNv07YF0u9rC4kau/CRVc/qlvSGQw64hkGFu+daZ7YHM64P8+AJ2eyCXYFNkxxxOuYPFVSC583XtgQQ7r+LC4kau/CRVl8SUbwnkNO1aAtkNXfZmqc8EMq4Hi68HtAbysSbVMffRRByP2ZNTh/Tb9PZAipeahuiYOL+Raz/JltNYfWsgXX9sedLff8O4fLEufo6oOZBr4mgtPnXUFMhiTVrGvAW70CF/9vYYnhTeHshHm+fawuJGrv8kX+/c/zo4OfT77/+Ccv92i95GBgAAAAAAAAAAAAAAAAAAAAAAAOD/yj9AlkBAICAQEAgIBAQCAgGBgEBAIIBAQCAgEBAICAQEAgIBgYBAQCCAQEAgIBAQCAgEBAICAYGAQACBgEBAICAQEAgIBAQCAgGBgEAAgYBAQCAgEBAICAQEAgIBgQACAYGAQEAgIBAQCAgEBAICAYEAAgGBgEBAICAQEAgIBAQCAgEEAgIBgYBAQCAgEBAICAQEAgIBBAICAYGAQEAgIBAQCAgEBAIIBAQCAgGBgEBAICAQEAgIBAQCCAQEAgIBgYBAQCAgEBAICAQEAggEBAICAYGAQEAgIBAQCAgEEAgIBAQCAgGBgEBAICAQEAgIBBAICAQEAgIBgYBAQCAgEBAIIBAQCAgEBAICAYGAQEAgIBAQCCAQEAgIBAQCAgGBgEBAICAQQCAgEBAICAQEAgIBgYBAQCAgEEAgIBAQCAgEBAICAYGAQEAggEBAICAQEAgIBAQCAgGBgEBAIIBAQCAgEBAICAQEAgIBgYBAQCCAQEAgIBAQCAgEBAICAYGAQACBgEBAICAQEAgIBAQCAgGBgEAAgYBAQCAgEBAICAQEAgIBgQACAYGAQEAgIBAQCAgEBAICAYEAAgGBgEBAICAQEAgIBAQCAgEEAgIBgYBAQCAgEBAICAQEAgIBIv8Djt0c3tPuuskAAAAASUVORK5CYII=",
        "hlsJsConfig": "{\"liveDurationInfinity\":true,\"liveBackBufferLength\":5,\"maxBufferLength\":10,\"manifestLoadingTimeOut\":1000,\"manifestLoadingMaxRetry\":10,\"manifestLoadingRetryDelay\":500}",
        "autoplay": "true",
        "unload": "true",
        "threshold": 0.5,
        "controls": "true",
        "muted": "false",
        "players": [
            "mp4",
            "hls.js",
            "hls",
            "socket.io"
        ],
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3d62f9d0ab9a3834",
        "type": "comment",
        "z": "efd97995f8a02a42",
        "name": "- view mp4 -",
        "info": "",
        "x": 889,
        "y": 65,
        "wires": []
    },
    {
        "id": "26bdc4fec40db095",
        "type": "function",
        "z": "efd97995f8a02a42",
        "name": "filename",
        "func": "const { payload } = msg;\n\nif (Buffer.isBuffer(payload)) {\n\n    msg.filename = context.get('filename');\n    \n    return msg;\n}\n\nconst { status } = payload;\n\nif (status === 'spawn') {\n\n    context.set('filename', `/tmp/A${Date.now()}.mp4`);\n\n    \n} else if (status === 'close') {\n    \n    context.set('filename', undefined);\n\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n\ncontext.set('filename', undefined);",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n\ncontext.set('filename', undefined);",
        "libs": [],
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "03f87bdfe99842e6"
            ]
        ]
    },
    {
        "id": "5c987343a5458a93",
        "type": "ffmpeg",
        "z": "efd97995f8a02a42",
        "d": true,
        "name": "",
        "outputs": 2,
        "cmdPath": "",
        "cmdArgs": "[\"-f\",\"mp4\",\"-i\",\"pipe:0\",\"-c:v\",\"copy\",\"-c:a\",\"copy\",\"-f\",\"mp4\",\"-movflags\",\"+faststart+empty_moov\",\"pipe:1\"]",
        "cmdOutputs": 1,
        "killSignal": "SIGTERM",
        "x": 879,
        "y": 200,
        "wires": [
            [
                "26bdc4fec40db095"
            ],
            [
                "26bdc4fec40db095"
            ]
        ]
    },
    {
        "id": "03f87bdfe99842e6",
        "type": "file",
        "z": "efd97995f8a02a42",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 200,
        "wires": [
            [
                "9a87fcc25edf1911"
            ]
        ]
    },
    {
        "id": "9a87fcc25edf1911",
        "type": "debug",
        "z": "efd97995f8a02a42",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 200,
        "wires": []
    },
    {
        "id": "1772c49f6618b474",
        "type": "function",
        "z": "efd97995f8a02a42",
        "d": true,
        "name": "filename",
        "func": "const { payload, action } = msg;\n\nif (Buffer.isBuffer(payload)) {\n\n    msg.filename = context.get('filename');\n    \n    return msg;\n}\n\nif (typeof action === 'object') {\n    const { command } = action;\n    \n    if (command === 'start') {\n        \n        context.set('filename', `/tmp/AR${Date.now()}.mp4`);\n        \n    } else if (command === 'stop') {\n        \n        context.set('filename', undefined);\n        \n    }\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n\ncontext.set('filename', undefined);",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n\ncontext.set('filename', undefined);",
        "libs": [],
        "x": 880,
        "y": 300,
        "wires": [
            [
                "502c640200b5836e"
            ]
        ]
    },
    {
        "id": "502c640200b5836e",
        "type": "file",
        "z": "efd97995f8a02a42",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "dfe68fb4694e26c6"
            ]
        ]
    },
    {
        "id": "dfe68fb4694e26c6",
        "type": "debug",
        "z": "efd97995f8a02a42",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "c7807cb9bd513866",
        "type": "comment",
        "z": "efd97995f8a02a42",
        "name": "- - - - - - - - - save raw mp4 files - - - - - - - - - -",
        "info": "",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "3b0f1f970f3af297",
        "type": "comment",
        "z": "efd97995f8a02a42",
        "name": "- - - - - - - - - - - - - - - - - save processed mp4 files - - - - - - - - - - - - - - - - - ",
        "info": "",
        "x": 1069,
        "y": 165,
        "wires": []
    },
    {
        "id": "46999a1f.6657d4",
        "type": "exec",
        "z": "3bea6f7023caaec9",
        "command": "ffmpeg -f rtsp -i \"rtsp://192.168.1.166:554/stream.sdp\" -f image2pipe pipe:1",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Decode RTSP stream",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "47938011.f1a51"
            ],
            [],
            []
        ]
    },
    {
        "id": "996a1c4.7436de",
        "type": "inject",
        "z": "3bea6f7023caaec9",
        "name": "Start stream",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "46999a1f.6657d4"
            ]
        ]
    },
    {
        "id": "47938011.f1a51",
        "type": "image",
        "z": "3bea6f7023caaec9",
        "name": "",
        "width": "400",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "4cf9fc06.acfb84",
        "type": "inject",
        "z": "3bea6f7023caaec9",
        "name": "Pause all streams",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SIGSTOP",
        "payloadType": "str",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "8e3a27b3.abf538"
            ]
        ]
    },
    {
        "id": "cf50c10.31f664",
        "type": "inject",
        "z": "3bea6f7023caaec9",
        "name": "Resume all streams",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SIGCONT",
        "payloadType": "str",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "8e3a27b3.abf538"
            ]
        ]
    },
    {
        "id": "8e3a27b3.abf538",
        "type": "change",
        "z": "3bea6f7023caaec9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "46999a1f.6657d4"
            ]
        ]
    },
    {
        "id": "a359a2e3.a4f51",
        "type": "inject",
        "z": "3bea6f7023caaec9",
        "name": "Stop all streams",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SIGTERM",
        "payloadType": "str",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "8e3a27b3.abf538"
            ]
        ]
    },
    {
        "id": "381559b021d17294",
        "type": "inject",
        "z": "3bea6f7023caaec9",
        "name": "Start searching",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "54f8a64322b58018"
            ]
        ]
    },
    {
        "id": "d7fa8c2570aac4a3",
        "type": "debug",
        "z": "3bea6f7023caaec9",
        "name": "Onvif devices",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.XAddrs",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 660,
        "wires": []
    },
    {
        "id": "54f8a64322b58018",
        "type": "onvif-discovery",
        "z": "3bea6f7023caaec9",
        "name": "",
        "timeout": "10",
        "separate": true,
        "x": 370,
        "y": 660,
        "wires": [
            [
                "d7fa8c2570aac4a3"
            ]
        ]
    },
    {
        "id": "fb2a20dd98f121f5",
        "type": "config",
        "z": "3bea6f7023caaec9",
        "name": "",
        "properties": [
            {
                "p": "thing.id",
                "pt": "flow",
                "to": "onvif:000-000-001",
                "tot": "str"
            },
            {
                "p": "thing.type",
                "pt": "flow",
                "to": "onvif",
                "tot": "str"
            },
            {
                "p": "thing.rtsp_url",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "6bb356f31f3d79ae",
        "type": "link in",
        "z": "3bea6f7023caaec9",
        "name": "Startup",
        "links": [
            "e1e41d7a50c87ccd"
        ],
        "x": 185,
        "y": 140,
        "wires": [
            [
                "fb2a20dd98f121f5",
                "923975943ca2ece1"
            ]
        ]
    },
    {
        "id": "923975943ca2ece1",
        "type": "function",
        "z": "3bea6f7023caaec9",
        "name": "Get device config",
        "func": "msg.payload = flow.get('thing');\nmsg.topic = flow.get('thing.id') + '/config';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "ec28546240731dd5",
                "cfbecc2286942f4a"
            ]
        ]
    },
    {
        "id": "ec28546240731dd5",
        "type": "link out",
        "z": "3bea6f7023caaec9",
        "name": "Send out config",
        "mode": "link",
        "links": [
            "bf7a1b67e986bfff"
        ],
        "x": 595,
        "y": 200,
        "wires": []
    },
    {
        "id": "fcf6c8fbeed6de3d",
        "type": "comment",
        "z": "3bea6f7023caaec9",
        "name": "Systemd event: local MQTT is up and running",
        "info": "",
        "x": 230,
        "y": 80,
        "wires": []
    },
    {
        "id": "d4a1ecf6f329c7bc",
        "type": "comment",
        "z": "3bea6f7023caaec9",
        "name": "MQTT cmd:",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "5dce578ba41c555c",
        "type": "link in",
        "z": "3bea6f7023caaec9",
        "name": "000-onvif-cam-001/cmd",
        "links": [],
        "x": 85,
        "y": 320,
        "wires": [
            [
                "3d4460359254d2fd"
            ]
        ]
    },
    {
        "id": "14884d7fe480e97e",
        "type": "link out",
        "z": "3bea6f7023caaec9",
        "name": "link out 2",
        "mode": "return",
        "links": [],
        "x": 575,
        "y": 320,
        "wires": []
    },
    {
        "id": "3d4460359254d2fd",
        "type": "switch",
        "z": "3bea6f7023caaec9",
        "name": "",
        "property": "payload.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "69d18fc08a731612"
            ],
            [
                "8fbd3a3514bc5856"
            ]
        ]
    },
    {
        "id": "69d18fc08a731612",
        "type": "function",
        "z": "3bea6f7023caaec9",
        "name": "cmd = Start",
        "func": "msg.payload = \"Started\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "d50479f9a521a6be"
            ]
        ]
    },
    {
        "id": "8fbd3a3514bc5856",
        "type": "function",
        "z": "3bea6f7023caaec9",
        "name": "cmd = Stop",
        "func": "msg.payload = \"Stopped\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "14884d7fe480e97e"
            ]
        ]
    },
    {
        "id": "cfbecc2286942f4a",
        "type": "function",
        "z": "3bea6f7023caaec9",
        "name": "Status = Ready",
        "func": "msg.topic = flow.get('thing.id') + '/status';\nmsg.payload = \"READY\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "ec28546240731dd5"
            ]
        ]
    },
    {
        "id": "d50479f9a521a6be",
        "type": "wifiscan",
        "z": "3bea6f7023caaec9",
        "name": "",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "14884d7fe480e97e"
            ]
        ]
    },
    {
        "id": "4019db48604e3b0f",
        "type": "mqtt out",
        "z": "267f0896c2544dd9",
        "d": true,
        "name": "Local MQTT",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf7a1b67e986bfff",
        "type": "link in",
        "z": "267f0896c2544dd9",
        "name": "Send_to_local_MQTT",
        "links": [
            "ec28546240731dd5",
            "44dcc6e937ddcf2f",
            "b352ec85cf6e5886"
        ],
        "x": 355,
        "y": 300,
        "wires": [
            [
                "e6ab12f7e6dee274"
            ]
        ]
    },
    {
        "id": "587a4ef624957e11",
        "type": "link call",
        "z": "267f0896c2544dd9",
        "name": "Send cmd to executor",
        "links": [],
        "linkType": "dynamic",
        "timeout": "3",
        "x": 700,
        "y": 520,
        "wires": [
            [
                "662dd542f44b6b9e"
            ]
        ]
    },
    {
        "id": "097fdd596ec3e4e2",
        "type": "mqtt in",
        "z": "267f0896c2544dd9",
        "d": true,
        "name": "",
        "topic": "+/cmd",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "68016243801ac5b5"
            ]
        ]
    },
    {
        "id": "e7062c6b88f1dc9a",
        "type": "debug",
        "z": "267f0896c2544dd9",
        "name": "DBG: MQTT CMD received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "target",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 560,
        "wires": []
    },
    {
        "id": "662dd542f44b6b9e",
        "type": "function",
        "z": "267f0896c2544dd9",
        "name": "Set result: /status ",
        "func": "if (!msg.target) {\n    return;\n}\nmsg.target = msg.topic;\n\nconst match = '\\/cmd$';\nconst modifier = \"i\";\nconst pattern = new RegExp(match, modifier);\n\nmsg.topic = msg.target.replace(pattern, '/status');\n\nif (msg.error) {\n    msg.payload = msg.error.message + ' cmd=' + JSON.stringify(msg.payload);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 400,
        "wires": [
            [
                "4019db48604e3b0f"
            ]
        ]
    },
    {
        "id": "afc9c1bb895e4fcc",
        "type": "catch",
        "z": "267f0896c2544dd9",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "a0076fb0726b831f",
                "662dd542f44b6b9e"
            ]
        ]
    },
    {
        "id": "15d6f38ecd4d4eca",
        "type": "mqtt in",
        "z": "267f0896c2544dd9",
        "d": true,
        "name": "",
        "topic": "+/+/cmd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "68016243801ac5b5"
            ]
        ]
    },
    {
        "id": "b8e38a6f72213e9e",
        "type": "aedes broker",
        "z": "267f0896c2544dd9",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "1cadfa8254a4c66d"
            ],
            [
                "5af2943077680c43"
            ]
        ]
    },
    {
        "id": "652e35c69955d976",
        "type": "status",
        "z": "267f0896c2544dd9",
        "name": "Status of [MQTT out] node",
        "scope": [
            "b8e38a6f72213e9e"
        ],
        "x": 170,
        "y": 140,
        "wires": [
            [
                "e5e523e43551d1fc"
            ]
        ]
    },
    {
        "id": "e5e523e43551d1fc",
        "type": "switch",
        "z": "267f0896c2544dd9",
        "name": "if connected",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "52ac9877505a0655"
            ]
        ]
    },
    {
        "id": "8946a46bf7bb1901",
        "type": "link out",
        "z": "267f0896c2544dd9",
        "name": "Notify Systemd",
        "mode": "link",
        "links": [
            "0ba2c92a5d328e69"
        ],
        "x": 755,
        "y": 200,
        "wires": []
    },
    {
        "id": "cf9b69588739a06e",
        "type": "function",
        "z": "267f0896c2544dd9",
        "name": "Set broker id and Notify to Systemd",
        "func": "const serialId = msg.payload.replace(/\\0.*$/, \"\");\n\nif (serialId) {\n    global.set(\"broker.id\", serialId);\n    msg.payload = \"local_MQTT_broker_is_up [\" + serialId + ']';\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "8946a46bf7bb1901"
            ]
        ]
    },
    {
        "id": "52ac9877505a0655",
        "type": "file in",
        "z": "267f0896c2544dd9",
        "name": "",
        "filename": "/sys/firmware/devicetree/base/serial-number",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "cf9b69588739a06e"
            ]
        ]
    },
    {
        "id": "a0076fb0726b831f",
        "type": "debug",
        "z": "267f0896c2544dd9",
        "name": "Flow errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "e6ab12f7e6dee274",
        "type": "function",
        "z": "267f0896c2544dd9",
        "name": "Add /broker-id",
        "func": "msg.topic = global.get(\"broker.id\") + \"/\" + msg.topic;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "06ff0c34faecfd85"
            ]
        ]
    },
    {
        "id": "06ff0c34faecfd85",
        "type": "function",
        "z": "267f0896c2544dd9",
        "name": "Set retained for /config",
        "func": "const match = '\\/config$';\nconst topic = msg.topic;\nconst found = topic.match(match);\n\nif (found) {\n    msg.qos = 2;\n    msg.retain = true;\n}\ndelete msg.topic;\nmsg.topic = topic;//\"rpi10000000ffebcc55/000-onvif-cam-001/config\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            [
                "4019db48604e3b0f"
            ]
        ]
    },
    {
        "id": "68016243801ac5b5",
        "type": "function",
        "z": "267f0896c2544dd9",
        "name": "Remove broker namespace and set target",
        "func": "const match = new RegExp('^' + global.get(\"broker.id\") + '/');\nconst topic = msg.topic.replace(match, \"\");\nmsg.target = topic;\n\nreturn  msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "587a4ef624957e11",
                "e7062c6b88f1dc9a"
            ]
        ]
    },
    {
        "id": "2c6db099c10857ff",
        "type": "comment",
        "z": "267f0896c2544dd9",
        "name": "On boot (when MQTT broker becomes accessible) we send notification to Systemd",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "25cfc7ac60d01b23",
        "type": "comment",
        "z": "267f0896c2544dd9",
        "name": "Publisher interface",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "5c09c47f3f4b2367",
        "type": "comment",
        "z": "267f0896c2544dd9",
        "name": "Report error status of cmd execution",
        "info": "",
        "x": 200,
        "y": 360,
        "wires": []
    },
    {
        "id": "e96afcf272608579",
        "type": "comment",
        "z": "267f0896c2544dd9",
        "name": "Subscribe for cmd, execute and report user status of cmd execution",
        "info": "",
        "x": 300,
        "y": 480,
        "wires": []
    },
    {
        "id": "1cadfa8254a4c66d",
        "type": "debug",
        "z": "267f0896c2544dd9",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 20,
        "wires": []
    },
    {
        "id": "5af2943077680c43",
        "type": "debug",
        "z": "267f0896c2544dd9",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "0ba2c92a5d328e69",
        "type": "link in",
        "z": "e00d584b4e2e74af",
        "name": "Systemd Events",
        "links": [
            "8946a46bf7bb1901"
        ],
        "x": 355,
        "y": 340,
        "wires": [
            [
                "9cb525760f88f618"
            ]
        ]
    },
    {
        "id": "e1e41d7a50c87ccd",
        "type": "link out",
        "z": "e00d584b4e2e74af",
        "name": "Stage - MQTT broker is UP",
        "mode": "link",
        "links": [
            "6bb356f31f3d79ae",
            "5b292c5534d77568",
            "03db6d7135ae751b",
            "394a5b0c95ee3a73",
            "6e362e6cdedf9910"
        ],
        "x": 695,
        "y": 140,
        "wires": []
    },
    {
        "id": "7acadede580cc365",
        "type": "comment",
        "z": "e00d584b4e2e74af",
        "name": "Local MQTT broker is up, send notifications",
        "info": "",
        "x": 860,
        "y": 40,
        "wires": []
    },
    {
        "id": "9cb525760f88f618",
        "type": "switch",
        "z": "e00d584b4e2e74af",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "local_MQTT_broker_is_up",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "e1e41d7a50c87ccd",
                "bdfc7041caa5282f"
            ]
        ]
    },
    {
        "id": "bdfc7041caa5282f",
        "type": "debug",
        "z": "e00d584b4e2e74af",
        "name": "DBG: Systemd Events",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "573aabbfcad3bea4",
        "type": "config",
        "z": "4074d230f2e616af",
        "name": "",
        "properties": [
            {
                "p": "thing.id",
                "pt": "flow",
                "to": "000-000-001",
                "tot": "str"
            },
            {
                "p": "thing.type",
                "pt": "flow",
                "to": "node-red",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "5b292c5534d77568",
        "type": "link in",
        "z": "4074d230f2e616af",
        "name": "Startup",
        "links": [
            "e1e41d7a50c87ccd"
        ],
        "x": 165,
        "y": 100,
        "wires": [
            [
                "573aabbfcad3bea4",
                "7cc310d61bc0aa0c"
            ]
        ]
    },
    {
        "id": "198791de571b405a",
        "type": "function",
        "z": "4074d230f2e616af",
        "name": "Get device config",
        "func": "flow.set(\"thing.flows\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "45909591c6a48acc"
            ]
        ]
    },
    {
        "id": "7cc310d61bc0aa0c",
        "type": "http request",
        "z": "4074d230f2e616af",
        "name": "Get all flows",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:1880/flows",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Node-RED-API-Version",
                "valueType": "other",
                "valueValue": "v2"
            }
        ],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "198791de571b405a"
            ]
        ]
    },
    {
        "id": "fb6cbea9f8feee1b",
        "type": "comment",
        "z": "4074d230f2e616af",
        "name": "MQTT cmd: node-red:000-000-001/cmd",
        "info": "",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "db6f46b4821e5876",
        "type": "link in",
        "z": "4074d230f2e616af",
        "name": "node-red:000-000-001/cmd",
        "links": [],
        "x": 165,
        "y": 340,
        "wires": [
            [
                "3183799529a841aa"
            ]
        ]
    },
    {
        "id": "194612cb31eb08e8",
        "type": "link out",
        "z": "4074d230f2e616af",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 765,
        "y": 340,
        "wires": []
    },
    {
        "id": "3183799529a841aa",
        "type": "switch",
        "z": "4074d230f2e616af",
        "name": "",
        "property": "payload.cmd",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "execute",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "c75542bc819108a9"
            ]
        ]
    },
    {
        "id": "c75542bc819108a9",
        "type": "function",
        "z": "4074d230f2e616af",
        "name": "cmd = Execute",
        "func": "msg.payload = msg.payload.data.flows;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "5716fa9935aa8590"
            ]
        ]
    },
    {
        "id": "5716fa9935aa8590",
        "type": "http request",
        "z": "4074d230f2e616af",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:1880/flows",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Node-RED-API-Version",
                "valueType": "other",
                "valueValue": "v1"
            },
            {
                "keyType": "other",
                "keyValue": "Node-RED-Deployment-Type",
                "valueType": "other",
                "valueValue": "full"
            }
        ],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "194612cb31eb08e8"
            ]
        ]
    },
    {
        "id": "45909591c6a48acc",
        "type": "subflow:c1aee611e52a8323",
        "z": "4074d230f2e616af",
        "name": "",
        "x": 670,
        "y": 160,
        "wires": [
            [
                "0ef91a7f177e2b34"
            ]
        ]
    },
    {
        "id": "0ef91a7f177e2b34",
        "type": "subflow:ed5a77f4448c2cf5",
        "z": "4074d230f2e616af",
        "name": "",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "1b48e98d6cae1a38"
            ]
        ]
    },
    {
        "id": "1b48e98d6cae1a38",
        "type": "switch",
        "z": "4074d230f2e616af",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "163f471b79ff47dc"
            ]
        ]
    },
    {
        "id": "163f471b79ff47dc",
        "type": "delay",
        "z": "4074d230f2e616af",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 260,
        "wires": [
            [
                "7cc310d61bc0aa0c"
            ]
        ]
    },
    {
        "id": "1b7da4426da512f4",
        "type": "inject",
        "z": "6f858e2bc48be764",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "aff443103656fc1b"
            ]
        ]
    },
    {
        "id": "f716a2e5c716cabc",
        "type": "debug",
        "z": "6f858e2bc48be764",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "aff443103656fc1b",
        "type": "function",
        "z": "6f858e2bc48be764",
        "name": "function 1",
        "func": "var msg = { payload: { integer: 1, float1: 2.5 } }\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 160,
        "wires": [
            [
                "c0bc003626a9912a"
            ]
        ]
    },
    {
        "id": "0f17beb4bd743cff",
        "type": "binary",
        "z": "6f858e2bc48be764",
        "name": "",
        "property": "payload",
        "pattern": "x8 => integer, b32f => float1",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "f716a2e5c716cabc"
            ]
        ]
    },
    {
        "id": "c0bc003626a9912a",
        "type": "binary",
        "z": "6f858e2bc48be764",
        "name": "",
        "property": "payload",
        "pattern": "x8 => float1, b32f => integer",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "e38bb13b46063efb",
                "0f17beb4bd743cff"
            ]
        ]
    },
    {
        "id": "e38bb13b46063efb",
        "type": "debug",
        "z": "6f858e2bc48be764",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "65ee833ee7ebf8b1",
        "type": "config",
        "z": "6f858e2bc48be764",
        "d": true,
        "name": "GLOBAL CONFIG",
        "properties": [
            {
                "p": "LocalBroker.host",
                "pt": "global",
                "to": "413bc8ac8d2849b7bf0706f84800f7a8.s2.eu.hivemq.cloud",
                "tot": "str"
            },
            {
                "p": "LocalBroker.port",
                "pt": "global",
                "to": "8883",
                "tot": "str"
            },
            {
                "p": "LocalBroker.user",
                "pt": "global",
                "to": "devicemqtt",
                "tot": "str"
            },
            {
                "p": "LocalBroker.pswd",
                "pt": "global",
                "to": "devicemqtt",
                "tot": "str"
            }
        ],
        "active": false,
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "c659c63e28d7c47e",
        "type": "config",
        "z": "6f858e2bc48be764",
        "name": "GLOBAL CONFIG",
        "properties": [
            {
                "p": "LocalBroker.host",
                "pt": "global",
                "to": "127.0.0.1",
                "tot": "str"
            },
            {
                "p": "LocalBroker.port",
                "pt": "global",
                "to": "1883",
                "tot": "str"
            },
            {
                "p": "LocalBroker.user",
                "pt": "global",
                "to": "devicemqtt",
                "tot": "str"
            },
            {
                "p": "LocalBroker.pswd",
                "pt": "global",
                "to": "devicemqtt",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "90c04bdaf7e90773",
        "type": "config",
        "z": "a3ba71e6b430d658",
        "name": "",
        "properties": [
            {
                "p": "thing.id",
                "pt": "flow",
                "to": "1",
                "tot": "str"
            },
            {
                "p": "thing.type",
                "pt": "flow",
                "to": "ble_scanner",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "dec9452877568190",
        "type": "function",
        "z": "a3ba71e6b430d658",
        "name": "Thing Model Description",
        "func": "msg.payload = flow.get(\"thing\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "7b5e6e7e72371ce1"
            ]
        ]
    },
    {
        "id": "7b5e6e7e72371ce1",
        "type": "subflow:c1aee611e52a8323",
        "z": "a3ba71e6b430d658",
        "name": "",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "180f5673616a1e81"
            ]
        ]
    },
    {
        "id": "c2a54a41bc5646a3",
        "type": "subflow:4778c81a96bb6f95",
        "z": "a3ba71e6b430d658",
        "name": "",
        "x": 700,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "995ab22438ad7180",
        "type": "switch",
        "z": "a3ba71e6b430d658",
        "name": "",
        "property": "advertisement.localName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LYWSD03MMC",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ATC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 580,
        "wires": [
            [
                "323f783d44c24f88"
            ],
            [
                "323f783d44c24f88"
            ]
        ]
    },
    {
        "id": "868f578e4866d1e6",
        "type": "binary",
        "z": "a3ba71e6b430d658",
        "name": "",
        "property": "payload",
        "pattern": "x88 => sensorType, \nb8 => noteId,\nl16=> r1,\nl16 => r2,\nl16 => r3\n",
        "x": 650,
        "y": 660,
        "wires": [
            [
                "d96fbd05d3d4769c"
            ]
        ]
    },
    {
        "id": "323f783d44c24f88",
        "type": "function",
        "z": "a3ba71e6b430d658",
        "name": "function 2",
        "func": "msg.type = msg.advertisement.localName;\nmsg.address = msg.peripheralUuid;\nmsg.payload = msg.advertisement.serviceData[0].data;\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "868f578e4866d1e6"
            ]
        ]
    },
    {
        "id": "d96fbd05d3d4769c",
        "type": "function",
        "z": "a3ba71e6b430d658",
        "name": "Obtain T,H,B",
        "func": "var id = msg.payload.noteId;\nvar r1 = msg.payload.r1;\nvar r2 = msg.payload.r2;\nvar r3 = msg.payload.r3;\ndelete msg.payload;\ndelete msg.original;\n\nvar nmsg1 = {};\nvar nmsg2 = {};\nvar nmsg3 = {};\n\nif (id == 13) {\n    nmsg1.payload = r2/10;\n    nmsg1.topic = msg.localName + \"/temperature\";\n    nmsg2.payload = r3 / 10;\n    nmsg2.topic = msg.localName + \"/humidity\";\n    nmsg3 = null;\n}\nif (id == 10) {\n    nmsg1 = null;\n    nmsg2 = null;\n    nmsg3.payload = r2;\n    nmsg3.topic = msg.localName + \"/battery\";\n}\n\n\nreturn [nmsg1, nmsg2, nmsg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            [
                "f0b87857e46ef01f",
                "c2a54a41bc5646a3"
            ],
            [
                "c2a54a41bc5646a3",
                "f0b87857e46ef01f"
            ],
            [
                "c2a54a41bc5646a3",
                "f0b87857e46ef01f"
            ]
        ]
    },
    {
        "id": "f0b87857e46ef01f",
        "type": "debug",
        "z": "a3ba71e6b430d658",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 520,
        "wires": []
    },
    {
        "id": "20e3ed0ce94c14f9",
        "type": "delay",
        "z": "a3ba71e6b430d658",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "8be0fd39d1c31073"
            ]
        ]
    },
    {
        "id": "dd86d58776dbddd6",
        "type": "change",
        "z": "a3ba71e6b430d658",
        "name": "Stop after 30 secs",
        "rules": [
            {
                "t": "change",
                "p": "payload.scan",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "20e3ed0ce94c14f9"
            ]
        ]
    },
    {
        "id": "e2dc396017fdc533",
        "type": "inject",
        "z": "a3ba71e6b430d658",
        "name": "Start scan every 1 min",
        "props": [
            {
                "p": "payload.scan",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "dd86d58776dbddd6",
                "8be0fd39d1c31073"
            ]
        ]
    },
    {
        "id": "dad0a7dd1d8dccf3",
        "type": "rbe",
        "z": "a3ba71e6b430d658",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "advertisement",
        "topi": "peripheralUuid",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "e33ab8329b2dce73",
                "995ab22438ad7180"
            ]
        ]
    },
    {
        "id": "8be0fd39d1c31073",
        "type": "scan ble",
        "z": "a3ba71e6b430d658",
        "uuids": "",
        "duplicates": true,
        "name": "",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "dad0a7dd1d8dccf3",
                "f0b87857e46ef01f"
            ]
        ]
    },
    {
        "id": "e33ab8329b2dce73",
        "type": "function",
        "z": "a3ba71e6b430d658",
        "name": "Data out",
        "func": "var nmsg = {};\nnmsg.topic = \"out\";\nnmsg.payload = {};\nnmsg.payload.id = msg.payload.peripheralUuid;\nnmsg.payload.advertisement = JSON.stringify(msg.advertisement);\nnmsg.payload.rssi = msg.rssi;\nreturn nmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "c2a54a41bc5646a3",
                "f0b87857e46ef01f"
            ]
        ]
    },
    {
        "id": "d7ff622dbdd0f3a0",
        "type": "function",
        "z": "a3ba71e6b430d658",
        "name": "Clear all flow vars",
        "func": "var keys = flow.keys();\nfor (var index = 0; index < keys.length; ++index) {\n    flow.set(keys[index]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "90c04bdaf7e90773"
            ]
        ]
    },
    {
        "id": "180f5673616a1e81",
        "type": "subflow:ed5a77f4448c2cf5",
        "z": "a3ba71e6b430d658",
        "name": "",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "ddd9bae018be1c2d"
            ]
        ]
    },
    {
        "id": "ddd9bae018be1c2d",
        "type": "switch",
        "z": "a3ba71e6b430d658",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 160,
        "wires": [
            [
                "fe658b0ecb723c1f"
            ]
        ]
    },
    {
        "id": "fe658b0ecb723c1f",
        "type": "delay",
        "z": "a3ba71e6b430d658",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "dec9452877568190"
            ]
        ]
    },
    {
        "id": "6e362e6cdedf9910",
        "type": "link in",
        "z": "a3ba71e6b430d658",
        "name": "link in 3",
        "links": [
            "e1e41d7a50c87ccd"
        ],
        "x": 125,
        "y": 120,
        "wires": [
            [
                "d7ff622dbdd0f3a0",
                "dec9452877568190"
            ]
        ]
    },
    {
        "id": "03db6d7135ae751b",
        "type": "link in",
        "z": "9da1654216b6a11d",
        "name": "link in 1",
        "links": [
            "e1e41d7a50c87ccd"
        ],
        "x": 155,
        "y": 120,
        "wires": [
            [
                "993a60cddde7da1f",
                "c0b6855553c41c6a",
                "c089681eaf2455c2"
            ]
        ]
    },
    {
        "id": "17895f2f29039313",
        "type": "config",
        "z": "9da1654216b6a11d",
        "name": "",
        "properties": [
            {
                "p": "thing.id",
                "pt": "flow",
                "to": "000",
                "tot": "str"
            },
            {
                "p": "thing.type",
                "pt": "flow",
                "to": "registry",
                "tot": "str"
            },
            {
                "p": "thing.hb_interval_sec",
                "pt": "flow",
                "to": "99",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 570,
        "y": 60,
        "wires": [],
        "info": ""
    },
    {
        "id": "993a60cddde7da1f",
        "type": "function",
        "z": "9da1654216b6a11d",
        "name": "Thing Model Description",
        "func": "\nmsg.payload = flow.get(\"thing\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [
            [
                "588df26c2de6e9ab"
            ]
        ]
    },
    {
        "id": "588df26c2de6e9ab",
        "type": "subflow:c1aee611e52a8323",
        "z": "9da1654216b6a11d",
        "name": "",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "ae7ba8fce859c623"
            ]
        ]
    },
    {
        "id": "c1854b6fc3694e01",
        "type": "subflow:ed5a77f4448c2cf5",
        "z": "9da1654216b6a11d",
        "name": "",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "b52f08c18704038f",
                "8cfe4231bf39edb2"
            ]
        ]
    },
    {
        "id": "c089681eaf2455c2",
        "type": "function",
        "z": "9da1654216b6a11d",
        "name": "Subscribe to all configs",
        "func": "msg.topic = \"+/+/config\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "c1854b6fc3694e01"
            ]
        ]
    },
    {
        "id": "c0b6855553c41c6a",
        "type": "function",
        "z": "9da1654216b6a11d",
        "name": "Clear all flow vars",
        "func": "var keys = flow.keys();\nfor (var index = 0; index < keys.length; ++index) {\n    flow.set(keys[index]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 60,
        "wires": [
            [
                "17895f2f29039313"
            ]
        ]
    },
    {
        "id": "e5285405b3363f33",
        "type": "subflow:4778c81a96bb6f95",
        "z": "9da1654216b6a11d",
        "name": "",
        "x": 800,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b52f08c18704038f",
        "type": "function",
        "z": "9da1654216b6a11d",
        "name": "Remove prefix and postfix",
        "func": "msg.topic = msg.topic.replace(/\\/config$/, \"\");\nmsg.topic = msg.topic.replace(/.*\\//, \"\");\nmsg.retain = true;\nmsg.qos = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 320,
        "wires": [
            [
                "e5285405b3363f33"
            ]
        ]
    },
    {
        "id": "2f2ddf8001a36a43",
        "type": "delay",
        "z": "9da1654216b6a11d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 460,
        "wires": [
            [
                "c089681eaf2455c2"
            ]
        ]
    },
    {
        "id": "ae7ba8fce859c623",
        "type": "subflow:ed5a77f4448c2cf5",
        "z": "9da1654216b6a11d",
        "name": "",
        "x": 760,
        "y": 120,
        "wires": [
            [
                "88ea92e7c4811373"
            ]
        ]
    },
    {
        "id": "88ea92e7c4811373",
        "type": "switch",
        "z": "9da1654216b6a11d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "5099bc327a4248de"
            ]
        ]
    },
    {
        "id": "5099bc327a4248de",
        "type": "delay",
        "z": "9da1654216b6a11d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 180,
        "wires": [
            [
                "993a60cddde7da1f"
            ]
        ]
    },
    {
        "id": "b3bdf5e8b49555b3",
        "type": "function",
        "z": "9da1654216b6a11d",
        "name": "Replace /config to /cmd/hb",
        "func": "// If update is \"deletion\"\nif (msg.payload != \"\") {\n    msg.payload = 10;\n}\n\nmsg.topic = msg.topic.replace(/\\/config$/, \"/cmd/hb\");\nmsg.overrideRoot = true;\nmsg.retain = false;\nmsg.qos = 2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 540,
        "wires": [
            [
                "d8f80d8f54515033"
            ]
        ]
    },
    {
        "id": "d8f80d8f54515033",
        "type": "subflow:ed5a77f4448c2cf5",
        "z": "9da1654216b6a11d",
        "name": "",
        "x": 420,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1e2dd314a8bab2b8",
        "type": "function",
        "z": "9da1654216b6a11d",
        "name": "function 3",
        "func": "// client alive and want to stop hb\nif (msg.payload == \"alive\") return null;\n\nif (msg.payload != 0) {\n    msg.payload = msg.payload - 1;\n}\n\nif (msg.payload == 0) {\n    // clear config\n    msg.payload = \"\";\n    msg.topic = msg.topic.replace(/\\/cmd\\/hb$/, \"/config\");\n}\nmsg.overrideRoot = true;\nmsg.qos = 2;\nmsg.retain = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "fa4bc1fd4920895d",
        "type": "debug",
        "z": "9da1654216b6a11d",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "8cfe4231bf39edb2",
        "type": "function",
        "z": "9da1654216b6a11d",
        "name": "function 4",
        "func": "msg.hb_thing_interval = msg.payload.hb_interval_sec || flow.get(\"thing.def_config.hb_interval\") || 10;\n\nvar elem = { p: msg.payload, hb_i: msg.hb_thing_interval};\nvar key = \"table.\" + msg.topic;\nflow.set(key, elem);\n\nvar table = flow.get(\"table\");\n\nvar length = 0;\nfor (var key in table) {\n    if (table.hasOwnProperty(key)) {\n        ++length;\n    }\n}\n\n\nnode.status({ fill: \"green\", shape: \"dot\", text: length });\nmsg.cnt = length;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "fa4bc1fd4920895d"
            ]
        ]
    },
    {
        "id": "394a5b0c95ee3a73",
        "type": "link in",
        "z": "3c50040f913fd396",
        "name": "link in 2",
        "links": [
            "e1e41d7a50c87ccd"
        ],
        "x": 125,
        "y": 140,
        "wires": [
            [
                "551afef49fc9d01c",
                "ffd72964407b6da5",
                "300ea799b1f00bd1"
            ]
        ]
    },
    {
        "id": "ae22081240debf6c",
        "type": "config",
        "z": "3c50040f913fd396",
        "name": "",
        "properties": [
            {
                "p": "thing.id",
                "pt": "flow",
                "to": "000",
                "tot": "str"
            },
            {
                "p": "thing.type",
                "pt": "flow",
                "to": "bridge",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 540,
        "y": 80,
        "wires": [],
        "info": ""
    },
    {
        "id": "551afef49fc9d01c",
        "type": "function",
        "z": "3c50040f913fd396",
        "name": "Thing Model Description",
        "func": "\nmsg.payload = flow.get(\"thing\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "44741fbf17d87e7e"
            ]
        ]
    },
    {
        "id": "44741fbf17d87e7e",
        "type": "subflow:c1aee611e52a8323",
        "z": "3c50040f913fd396",
        "name": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "a379e5c1077ef903",
                "765f9993a1f1dce5"
            ]
        ]
    },
    {
        "id": "28ed644251b02944",
        "type": "subflow:ed5a77f4448c2cf5",
        "z": "3c50040f913fd396",
        "name": "",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "5e7e5ade9de8cf22"
            ]
        ]
    },
    {
        "id": "ffd72964407b6da5",
        "type": "function",
        "z": "3c50040f913fd396",
        "name": "Subscribe to everything",
        "func": "msg.topic = \"#\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "28ed644251b02944"
            ]
        ]
    },
    {
        "id": "5e7e5ade9de8cf22",
        "type": "debug",
        "z": "3c50040f913fd396",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "300ea799b1f00bd1",
        "type": "function",
        "z": "3c50040f913fd396",
        "name": "Clear all flow vars",
        "func": "var keys = flow.keys();\nfor (var index = 0; index < keys.length; ++index) {\n    flow.set(keys[index]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 80,
        "wires": [
            [
                "ae22081240debf6c"
            ]
        ]
    },
    {
        "id": "a379e5c1077ef903",
        "type": "subflow:ed5a77f4448c2cf5",
        "z": "3c50040f913fd396",
        "name": "",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "d22123600360f845"
            ]
        ]
    },
    {
        "id": "d22123600360f845",
        "type": "switch",
        "z": "3c50040f913fd396",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "6600c3e37e2faeeb"
            ]
        ]
    },
    {
        "id": "6600c3e37e2faeeb",
        "type": "delay",
        "z": "3c50040f913fd396",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "551afef49fc9d01c"
            ]
        ]
    },
    {
        "id": "765f9993a1f1dce5",
        "type": "function",
        "z": "3c50040f913fd396",
        "name": "Replace /config to /cmd/hb",
        "func": "// If update is \"deletion\"\nif (msg.payload == \"\") {\n    return null;\n}\n\nmsg.topic = msg.topic.replace(/\\/config$/, \"/cmd/hb\");\nmsg.overrideRoot = true;\nmsg.retain = false;\nmsg.qos = 2;\n\nmsg.payload = 10;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "5823e427fc633ea6"
            ]
        ]
    },
    {
        "id": "5823e427fc633ea6",
        "type": "subflow:ed5a77f4448c2cf5",
        "z": "3c50040f913fd396",
        "name": "",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "b0d5d04d2a5c6fa3"
            ]
        ]
    },
    {
        "id": "835c1e3dd1e077df",
        "type": "subflow:4778c81a96bb6f95",
        "z": "3c50040f913fd396",
        "name": "",
        "x": 740,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b0d5d04d2a5c6fa3",
        "type": "function",
        "z": "3c50040f913fd396",
        "name": "I'm alive",
        "func": "if (msg.payload == \"alive\") return null;\n\nmsg.topic = \"cmd/hb\";\nmsg.payload = \"alive\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "835c1e3dd1e077df"
            ]
        ]
    }
]